#carbonads {
  display: block;
  overflow: hidden;
  margin: 1rem auto 4rem;
  padding: 0.5em;
  max-width: 360px;
  border: solid 1px hsl(213, 100%, 92%);
  background-color: hsl(213, 100%, 98%);
  line-height: 1.5;
}

#carbonads a {
  color: hsl(213, 100%, 59%);
  text-decoration: none;
}

#carbonads a:hover {
  color: hsl(213, 100%, 67%);
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  float: left;
  margin-right: 1em;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  display: block;
  float: left;
  max-width: calc(100% - 130px - 1em);
  text-align: left;
}

.carbon-poweredby {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: 14px;
}
